<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://github.com/thymeleaf/thymeleaf-extras-springsecurity"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

    <title>Hymir IIIF Server</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Bootstrap theme -->
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/thirdparty/ie10-viewport-bug-workaround.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/theme.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"></script>
      <script th:src="@{/webjars/respond/1.4.2/dest/respond.min.js}"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:inline="javascript">
      /*<![CDATA[*/
      var url = /*[[@{/webjars/jquery/1.11.3/jquery.min.js}]]*/;
      window.jQuery || document.write('<script src="' + url  + '"><\/script>');
      /*]]>*/
    </script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script th:src="@{/js/thirdparty/ie10-viewport-bug-workaround.js}"></script>

    <!-- Fixed navbar -->
    <nav class="navbar navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}"><span><img th:src="@{/images/hymir-logo-115x80.png}" height="50" style="margin-top: -5px;" /></span> </a>
        </div>
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <section layout:fragment="content">
        ...
      </section>

      <footer class="footer">
        <p>visit us on <a href="https://github.com/dbmdz">GitHub</a></p>
      </footer>
    </div> <!-- /container -->

  <th:block layout:fragment="morejs"> </th:block>
</body>
</html>
