<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"service":"iiifServer", "group":"iiif", "instance":"${instance.name:-default}"}</customFields>
      </encoder>
    </appender>

    <appender name="plain-console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
        <immediateFlush>false</immediateFlush>
      </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${IIIF_SERVER_LOGFILE:-/local/iiif/log/iiif/iiifServer.log}</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>iiifServer.%d{yyyy-MM-dd}.log</fileNamePattern>
      </rollingPolicy>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"service":"iiifServer", "group":"iiif", "instance":"${instance.name:-default}"}</customFields>
      </encoder>
    </appender>

    <logger name="de.digitalcollections.iiif.presentation.backend" level="error" />
    <logger name="de.digitalcollections.iiif.presentation.business" level="error" />
    <logger name="de.digitalcollections.core" level="error" />

    <root level="info">
      <appender-ref ref="FILE" />
    </root>

</configuration>