<?xml version="1.0" encoding="UTF-8"?>
<configuration>


  <springProfile name="local">
    <appender name="default" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
        <immediateFlush>false</immediateFlush>
      </encoder>
    </appender>
  </springProfile>

  <springProfile name="DEV, STG, PROD">
    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>/var/log/iiif/iiifServer.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>iiifServer.%d{yyyy-MM-dd}.log</fileNamePattern>
      </rollingPolicy>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"service":"iiifServer", "group":"iiif", "instance":"${instance.name:-default}"}</customFields>
      </encoder>
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"service":"iiifServer", "group":"iiif", "instance":"${instance.name:-default}"}</customFields>
      </encoder>
    </appender>
    
    <logger name="de.digitalcollections.iiif.presentation.backend" level="error" />
    <logger name="de.digitalcollections.iiif.presentation.business" level="error" />
    <logger name="de.digitalcollections.core" level="error" />
  </springProfile>

  <root level="info">
    <appender-ref ref="default" />
  </root>

</configuration>