<!DOCTYPE html>

<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{base}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/mirador/__${miradorVersion}__/css/mirador-combined.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/dbmdz__mirador-canvaslink/1.1.1/canvasLink.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/dbmdz__mirador-imagecropper/2.2.1/imageCropper.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/dbmdz__mirador-manifestbutton/1.1.1/manifestButton.min.css}" />
    <style type="text/css">
      body { font-size: 14px; }
      body > div.container { width: 100% !important; }
    </style>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="row">
        <div class="col-md-12">
          <div id="viewer"></div>
        </div>
      </div>
    </section>

    <th:block layout:fragment="morejs">
      <script th:src="@{/webjars/mirador/__${miradorVersion}__/mirador.min.js}"></script>
      <script th:src="@{/webjars/dbmdz__mirador-canvaslink/1.1.1/canvasLink.min.js}"></script>
      <script th:src="@{/webjars/dbmdz__mirador-imagecropper/2.2.1/imageCropper.js}"></script>
      <script th:src="@{/webjars/dbmdz__mirador-keyboardnavigation/1.1.0/keyboardNavigation.min.js}"></script>
      <script th:src="@{/webjars/dbmdz__mirador-manifestbutton/1.1.1/manifestButton.min.js}"></script>
      <script th:src="@{/webjars/dbmdz__mirador-physicalruler/1.3.1/physicalRuler.js}"></script>
      <script th:src="@{/webjars/dbmdz__mirador-viewfromurl/1.1.0/viewFromUrl.min.js}"></script>
      <script type="text/javascript" th:inline="javascript">
        $(function(){
          Mirador({
            'annotationEndpoint': {
              'name': 'Local Storage',
              'module': 'LocalStorageEndpoint'
            },
            'buildPath': /*[[@{/webjars/mirador/__${miradorVersion}__/}]]*/,
            'data': [{
              /*<![CDATA[*/
              'manifestUri': /*[[@{__${presentationUri}__/manifest}]]*/
              /*]]>*/
            }],
            'id': 'viewer',
            'windowObjects': [{
              /*<![CDATA[*/
              'loadedManifest': /*[[@{__${presentationUri}__/manifest}]]*/
              /*]]>*/
            }]
          });
        });
      </script>
    </th:block>
  </body>
</html>
