<!DOCTYPE html>

<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{base}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/mirador/${iiifVersions.mirador}/css/mirador-combined.css|}" />
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/dbmdz__mirador-canvaslink/${iiifVersions['mirador-canvaslink']}/canvasLink.min.css|}" />
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/dbmdz__mirador-imagecropper/${iiifVersions['mirador-imagecropper']}/imageCropper.css|}" />
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/dbmdz__mirador-manifestbutton/${iiifVersions['mirador-manifestbutton']}/manifestButton.min.css|}" />
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/dbmdz__mirador-sharebuttons/${iiifVersions['mirador-sharebuttons']}/shareButtons.css|}" />
    <style type="text/css">
      body { font-size: 14px; }
      body > div.container { width: 100% !important; }
    </style>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="row">
        <div class="col-md-12">
          <div id="viewer"></div>
        </div>
      </div>
    </section>

    <th:block layout:fragment="morejs">
      <script th:src="@{/webjars/mirador/__${iiifVersions.mirador}__/mirador.min.js}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-canvaslink/${iiifVersions['mirador-canvaslink']}/canvasLink.min.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-imagecropper/${iiifVersions['mirador-imagecropper']}/imageCropper.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-keyboardnavigation/${iiifVersions['mirador-keyboardnavigation']}/keyboardNavigation.min.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-manifestbutton/${iiifVersions['mirador-manifestbutton']}/manifestButton.min.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-physicalruler/${iiifVersions['mirador-physicalruler']}/physicalRuler.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-sharebuttons/${iiifVersions['mirador-sharebuttons']}/shareButtons.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-viewfromurl/${iiifVersions['mirador-viewfromurl']}/viewFromUrl.min.js|}"></script>
      <script type="text/javascript" th:inline="javascript">
        $(function(){
          Mirador({
            'annotationEndpoint': {
              'name': 'Local Storage',
              'module': 'LocalStorageEndpoint'
            },
            'buildPath': /*[[@{/webjars/mirador/__${iiifVersions.mirador}__/}]]*/,
            'data': [{
              /*<![CDATA[*/
              'manifestUri': /*[[@{__${presentationUri}__/manifest}]]*/
              /*]]>*/
            }],
            'id': 'viewer',
            'windowObjects': [{
              /*<![CDATA[*/
              'loadedManifest': /*[[@{__${presentationUri}__/manifest}]]*/
              /*]]>*/
            }]
          });
        });
      </script>
    </th:block>
  </body>
</html>
