<!DOCTYPE html>

<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{base}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/mirador/${webjarVersions.mirador}/css/mirador-combined.css|}">
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/dbmdz__mirador-canvaslink/${webjarVersions['mirador-canvaslink']}/canvasLink.min.css|}">
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/dbmdz__mirador-downloadmenu/${webjarVersions['mirador-downloadmenu']}/downloadMenu.min.css|}">
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/dbmdz__mirador-imagecropper/${webjarVersions['mirador-imagecropper']}/imageCropper.css|}">
    <link rel="stylesheet" type="text/css" th:href="@{|/webjars/dbmdz__mirador-sharebuttons/${webjarVersions['mirador-sharebuttons']}/shareButtons.css|}">
    <style type="text/css">
      body { font-size: 14px; }
    </style>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="row">
        <div class="col-md-12">
          <div id="mirador-viewer"></div>
        </div>
      </div>
    </section>

    <th:block layout:fragment="morejs">
      <script th:src="@{|/webjars/mirador/${webjarVersions.mirador}/mirador.min.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-canvaslink/${webjarVersions['mirador-canvaslink']}/canvasLink.min.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-imagecropper/${webjarVersions['mirador-imagecropper']}/imageCropper.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-keyboardnavigation/${webjarVersions['mirador-keyboardnavigation']}/keyboardNavigation.min.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-manifestbutton/${webjarVersions['mirador-manifestbutton']}/manifestButton.min.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-physicalruler/${webjarVersions['mirador-physicalruler']}/physicalRuler.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-sharebuttons/${webjarVersions['mirador-sharebuttons']}/shareButtons.js|}"></script>
      <script th:src="@{|/webjars/dbmdz__mirador-viewfromurl/${webjarVersions['mirador-viewfromurl']}/viewFromUrl.min.js|}"></script>
      <script type="text/javascript" th:inline="javascript">
        $(function(){
          Mirador({
            'annotationEndpoint': {
              'name': 'Local Storage',
              'module': 'LocalStorageEndpoint'
            },
            'buildPath': /*[[@{/webjars/mirador/__${webjarVersions.mirador}__/}]]*/,
            'data': [{
              /*<![CDATA[*/
              'manifestUri': /*[[@{__${manifestId}__}]]*/
              /*]]>*/
            }],
            'id': 'mirador-viewer',
            'windowObjects': [{
              /*<![CDATA[*/
              'canvasID': /*[[${canvasId}]]*/,
              'loadedManifest': /*[[@{__${manifestId}__}]]*/
              /*]]>*/
            }]
          });
        });
      </script>
    </th:block>
  </body>
</html>
