<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base">
  <body>
    <section layout:fragment="content">
      <main>
        <div class="panel panel-primary">
          <div class="panel-heading">Viewing "<span th:text="@{__${infoUrl}__}">...</span>" in OpenSeadragon 2.3.0</div>
          <div class="panel-body">
            <div id="preview" class="openseadragon" style="height: 600px;"></div>
          </div>
        </div>

        <script th:src="@{/webjars/openseadragon/2.3.0/build/openseadragon/openseadragon.min.js}"></script>
        <script type="application/javascript" th:inline="javascript">
          var viewer = OpenSeadragon({
          id: "preview",
          /*<![CDATA[*/
          prefixUrl: /*[[@{/webjars/openseadragon/2.3.0/build/openseadragon/images/}]]*/,
          /*]]>*/
          tileWidth: 64,
          /*<![CDATA[*/
          tileSources: /*[[@{__${infoUrl}__}]]*/
          /*]]>*/
          });
        </script>
      </main>
    </section>
  </body>
</html>
