<!DOCTYPE html>

<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="base">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/mirador/2.1.1/css/mirador-combined.css}" />
    <style type="text/css">
      body { font-size: 14px; }
      /*body { padding: 0; margin: 0; overflow: hidden; font-size: 70%; }*/
      #viewer { background: #333; width: 100%; height: 800px; position: relative; }
    </style>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="row">
        <div class="col-md-12">
          <div id="viewer"></div>
        </div>
      </div>
    </section>

    <th:block layout:fragment="morejs">
      <script th:src="@{/webjars/mirador/2.1.1/mirador.js}"></script>
      <script type="text/javascript" th:inline="javascript">
        $(function(){
          Mirador({
            'buildPath': '/webjars/mirador/2.1.1/',
            "id": "viewer",
            "workspaceType": "singleObject",
            'mainMenuSettings': {
              'show': true,
              'buttons': {
                'bookmark': true,
                'layout': true
              },
              'userLogo': {
                'label': 'Mirador',
                'attributes': { 'href': 'http://projectmirador.org/' }
              },
              "userButtons": [
                {
                  "label": "IIIF-Manifest",
                  "iconClass": "fa fa-file-text",
                  "attributes": {
                    "class": "file",
                    "href": /*[[@{__${presentationUri}__/manifest}]]*/,
                    "target": "_blank"
                  }
                }
              ]
            },
            "layout": "1x1",
            "data": [
              {
                /*<![CDATA[*/
                "manifestUri": /*[[@{__${presentationUri}__/manifest}]]*/
                /*]]>*/
              }
            ],
            "windowObjects": [
              {
                /*<![CDATA[*/
                "loadedManifest": /*[[@{__${presentationUri}__/manifest}]]*/,
                /*]]>*/
                /*<![CDATA[*/
                "canvasID": /*[[@{__${presentationUri}__/canvas/p1}]]*/,
                /*]]>*/
                "viewType": "ImageView",
                "layoutOptions": {
                  "close": false,
                  "slotRight": false,
                  "slotLeft": false,
                  "slotAbove": false,
                  "slotBelow": false
                },
                "annotationLayer": false,
                "annotationCreation": false,
                "saveSession": false
              }]
          });
        });
      </script>
    </th:block>
  </body>
</html>
