<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
  <body>
    <section layout:fragment="content" class="mb-5">
      <div class="card bg-light mt-2">
        <div class="card-header" th:text="#{error.page_title}">Ooops!</div>
        <div class="card-body">
          <h5 class="card-title" th:text="#{error.404.page_title}">Page not found</h5>
          <p class="card-text">
            <a th:href="@{/}" class="btn btn-primary btn-lg">
              <span th:text="#{error.404.button_text}">Take Me Home</span>
            </a>
          </p>
        </div>
      </div>
    </section>
  </body>
</html>