<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
  <body>
    <section layout:fragment="content">

      <div class="well">
        <h3 th:text="#{error.page_title}">Ooops!</h3>

        <h1 th:text="#{error.404.page_title}">Page not found</h1>

        <p>
          <a th:href="@{/}" class="btn btn-primary btn-lg">
            <span th:text="#{error.404.button_text}">Take Me Home</span>
          </a>
        </p>
      </div>
    </section>
  </body>
</html>