body {
  padding-top: 55px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;

  border-top: solid 1px #AAA;
  color: #777;
  padding-top: 10px;
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.navbar {
  background-color: white;
  border-bottom: solid 1px #e5e5e5;
  min-height: 45px;
}

.navbar-brand.logo img {
  height: 30px;
  margin-top: -5px;
}

.openseadragon {
  border: solid 1px #e5e5e5;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#viewer {
  background: #333;
  width: 100%;
  height: calc(100vh - 115px);
  position: relative;
}

.window-manifest-title {
  height: 1.25em;
}

#viewer * {
  box-sizing: content-box;
}

.overlay * {
  box-sizing: border-box !important;
}

.navbar .navbar-right {
  margin-right: 0;
}

.panel .table {
  margin-bottom: 0;
}

.panel-body {
  padding: 15px;
}