body {
  padding-top: 65px;
}

.navbar {
  border-bottom: solid 1px #e5e5e5;
  min-height: 45px;
}

.navbar-brand.logo img {
  height: 30px;
}

#mirador-viewer {
  background: #333;
  height: calc(100vh - 115px);
  position: relative;
  width: 100%;
}

#mirador-viewer .window-manifest-title {
  height: 1.25em;
}

#mirador-viewer .mirador-osd-annotation-controls * {
  box-sizing: content-box;
}

#mirador-viewer .metadata-listing .metadata-item {
  padding-top: 5px;
}

#mirador-viewer .metadata-listing .metadata-label,
#mirador-viewer .metadata-listing .metadata-value {
  display: inline;
}

#mirador-viewer .metadata-listing .metadata-label {
  font-weight: bold;
  margin-right: 10px;
}

#mirador-viewer .metadata-listing img {
  display: block;
}

#mirador-viewer .mirador-osd-next,
#mirador-viewer .mirador-osd-previous,
#mirador-viewer .mirador-osd-toggle-bottom-panel {
  color: white;
}

#openseadragon-viewer {
  border: solid 1px #e5e5e5;
  height: calc(100vh - 205px);
}

.error-page p {
  text-align: left;
}

footer {
  border-top: solid 1px #AAA;
  bottom: 0;
  position: fixed;
}