<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
  <body>
    <section layout:fragment="content">

      <div class="well">
        <h3 th:text="#{error.page_title}">Ooops!</h3>

        <h1>
          <label th:text="#{error.status_code}">Status code</label>: <span th:text="${status}">The status code</span>
        </h1>
        <p>
          <label th:text="#{error.reason}">Error reason</label>: <span th:text="${error}">The error reason</span>
        </p>
        <p>
          <label th:text="#{error.message}">Error message</label>: <span th:text="${message}">The exception message</span>
        </p>
        <p>
          <label th:text="#{error.url-path}">Called url path</label>: <span th:text="${path}">The URL path when the exception was raised</span>
        </p>
        <p>
          <label th:text="#{error.timestamp}">Time error occured</label>: <span th:text="${timestamp}">The time that the errors were extracted</span>
        </p>
        <p th:if="${exception}">
          <label th:text="#{error.exception}">Exception</label>: <span th:text="${exception}">The class name of the root exception (if configured)</span>
        </p>
        <p th:if="${trace}">
          <label th:text="#{error.stacktrace}">Stacktrace</label>: <span th:text="${trace}">The exception stack trace</span>
        </p>
      </div>
    </section>
  </body>
</html>