<!DOCTYPE html>
<html 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base}">
  <body>
    <section layout:fragment="content">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="display-4">Hymir IIIF Server</h1>
        <p class="lead">Use below forms to view resources provided by this server.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card border-primary">
            <div class="card-header bg-primary text-white">IIIF Image API 2.1</div>
            <div class="card-body">
              <table class="table">
                <tr>
                  <td>
                    <form class="form-inline" action="#" th:action="@{/image/view}" method="post">
                      <h4>View image with OpenSeadragon</h4>
                      <div class="form-group">
                        /image/ <input type="text" class="form-control form-control-sm" placeholder="identifier" name="identifier"> /view.html
                      </div>
                      <button type="submit" class="btn btn-primary ml-auto">view</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-primary">
            <div class="card-header bg-primary text-white">IIIF Presentation API 2.1</div>
            <div class="card-body">
              <table class="table">
                <tr>
                  <td>
                    <form class="form-inline" action="#" th:action="@{/presentation/view}" method="post">
                      <h4>View object with Mirador</h4>
                      <div class="form-group">
                        /presentation/ <input type="text" class="form-control form-control-sm" placeholder="identifier" name="identifier"> /view.html
                      </div>
                      <button type="submit" class="btn btn-primary ml-auto">view</button>
                    </form>
                  </td>
                </tr>
                <tr>
                  <td>
                    <form class="form-inline" action="#" th:action="@{/presentation/manifest}" method="get">
                      <h4>View manifest as JSON</h4>
                      <div class="form-group">
                        /presentation/v2/ <input type="text" class="form-control form-control-sm" placeholder="identifier" name="identifier"> /manifest
                      </div>
                      <button type="submit" class="btn btn-primary ml-auto">view</button>
                    </form>
                  </td>
                </tr>
                <tr>
                  <td>
                    <form class="form-inline" action="#" th:action="@{/presentation/collection}" method="get">
                      <h4>View collection as JSON</h4>
                      <div class="form-group">
                        /presentation/v2/collection/ <input type="text" class="form-control form-control-sm" placeholder="name" name="name">
                      </div>
                      <button type="submit" class="btn btn-primary ml-auto">view</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Pre-load Mirador into the browser cache to reduce waiting time when opening viewer page -->
      <script async="true" defer="true" th:src="@{/webjars/mirador/2.6.0/mirador.min.js}"></script>
    </section>
  </body>
</html>
